.headingContainer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.sectionHeading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subheading {
  font-size: 1rem;
  color: #777;
  margin: 0 auto;
  max-width: 600px;
}

.gridContainer {
  display: grid;
   grid-template-columns: repeat(3, 1fr); /* Exactly 3 columns */
  gap: 32px;
  padding: 40px;
  animation: fadeInDown 0.5s ease-out;
  
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  width: 280px;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  transition: box-shadow 0.3s ease;
  
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 200px; /* or adjust to your layout */
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(0.9);
  opacity: 0.8;
}

.card:hover .image {
  transform: scale(1);
  opacity: 1;
}

.button {
  margin-top: 10px;
  background-color: #ff8c00;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e67700;
}
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}